<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div id="app">
    <span>{{num}}</span>
    <input type="text" v-model="num">
    <span>{{peopleData.name}}</span>
    <input type="text" v-model="peopleData.name">
  </div>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        num: 999,
        peopleData: {
          name: 'wjc'
        },
        test: '888',
      }
    })
  </script>
</body>

</html>